---
import '../styles/global.css';

 const skills = ["html", "css", "javascript"]
 import Navigation from '../components/Navigation.astro';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>About Me</title>
  </head>
  <body>
    <h1>I Am Groot</h1>

    <!-- <nav>
      <a href="/">Home</a>
      <a href="/portfolio/">Portfolio</a>
      <a href="/about/">About</a>
      <a href="/posts/">Posts</a>
    </nav> -->
    <Navigation />
    <p>Let's Talk About Me</p>
    <p> I do not like olives. But I won't judge you if you do.</p>
{skills.map ((skill) => (
    <li>{skill}</li> ))}
  </body>
</html>
